.forgotblock{
    text-align: center;
    &-icon{
        font-size: 25px;
        padding: 5%;
    }
    &-title{
        text-align: center;
        padding: 4% 8% 4% 0;
    }
    &-help{
        margin: 4% 10%;
        text-align: center;
    }
    &-input{
        width: 90%;
        margin: auto;
        &-grid{
            --ion-grid-padding: 0;
            width: 100%;
            margin: 0;
        }
        &-alert{
            color:red;
            font-size: 15px;
        }
    }
    &_send{
        height: 16vh;
        --border-radius: 50%;
        &-icon{
            font-size: 70px;
        }
    }
}
.bd-complete{
    z-index: 20;
}