<ion-backdrop *ngIf="loader" class="bd-complete" tappable="false"></ion-backdrop>
<ion-spinner *ngIf="loader" class="spinner" name="bubbles"></ion-spinner>
<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="forgotblock ion-align-items-start">
      <ion-col size="2"><ion-icon class="forgotblock-icon" (click)="return()" name="arrow-back-outline"></ion-icon></ion-col>
      <ion-col size="10" class="forgotblock-title">
        <b>RECUPERAR CONTRASEÑA</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="true" class="forgotblock">
  <p class="forgotblock-help">Para recuperar tu contraseña ingresa los datos que usaste en tu registro, esto nos ayudará a comprobar tu identidad.</p>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">Nombres</ion-label>
    <ion-input [(ngModel)]="nombres"></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">Apellido Paterno</ion-label>
    <ion-input [(ngModel)]="apepaterno"></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">Apellido Materno</ion-label>
    <ion-input [(ngModel)]="apematerno"></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">DNI</ion-label>
    <ion-input [(ngModel)]="dni"></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label>Distrito</ion-label>
    <ion-select [(ngModel)]="distrito" value="distrito" interface="action-sheet" cancelText="Cancelar">
      <ion-select-option value="Cercado de Lima">Cercado de Lima</ion-select-option>
      <ion-select-option value="Ancón">Ancón</ion-select-option>
      <ion-select-option value="Ate Vitarte">Ate Vitarte</ion-select-option>
      <ion-select-option value="Barranco">Barranco</ion-select-option>
      <ion-select-option value="Breña">Breña</ion-select-option>
      <ion-select-option value="Carabayllo">Carabayllo</ion-select-option>
      <ion-select-option value="Comas">Comas</ion-select-option>
      <ion-select-option value="Chaclacayo">Chaclacayo</ion-select-option>
      <ion-select-option value="Chorrillos">Chorrillos</ion-select-option>
      <ion-select-option value="El Agustino">El Agustino</ion-select-option>
      <ion-select-option value="Jesús María">Jesús María</ion-select-option>
      <ion-select-option value="La Molina">La Molina</ion-select-option>
      <ion-select-option value="La Victoria">La Victoria</ion-select-option>
      <ion-select-option value="Lince">Lince</ion-select-option>
      <ion-select-option value="Lurigancho">Lurigancho (Chosica)</ion-select-option>
      <ion-select-option value="Lurín">Lurín</ion-select-option>
      <ion-select-option value="Magdalena del Mar">Magdalena del Mar</ion-select-option>
      <ion-select-option value="Miraflores">Miraflores</ion-select-option>
      <ion-select-option value="Pachacamac">Pachacamac</ion-select-option>
      <ion-select-option value="Pucusana">Pucusana</ion-select-option>
      <ion-select-option value="Pueblo Libre">Pueblo Libre</ion-select-option>
      <ion-select-option value="Puente Piedra">Puente Piedra</ion-select-option>
      <ion-select-option value="Punta Negra">Punta Negra</ion-select-option>
      <ion-select-option value="Punta Hermosa">Punta Hermosa</ion-select-option>
      <ion-select-option value="Rímac">Rímac</ion-select-option>
      <ion-select-option value="San Bartolo">San Bartolo</ion-select-option>
      <ion-select-option value="San Isidro">San Isidro</ion-select-option>
      <ion-select-option value="Independencia">Independencia</ion-select-option>
      <ion-select-option value="San Juan de Miraflores">San Juan de Miraflores</ion-select-option>
      <ion-select-option value="San Luis">San Luis</ion-select-option>
      <ion-select-option value="San Martín de Porres">San Martín de Porres</ion-select-option>
      <ion-select-option value="San Miguel">San Miguel</ion-select-option>
      <ion-select-option value="Santiago de Surco">Santiago de Surco</ion-select-option>
      <ion-select-option value="Surquillo">Surquillo</ion-select-option>
      <ion-select-option value="Villa María del Triunfo">Villa María del Triunfo</ion-select-option>
      <ion-select-option value="San Juan de Lurigancho">San Juan de Lurigancho</ion-select-option>
      <ion-select-option value="Santa María del Mar">Santa María del Mar</ion-select-option>
      <ion-select-option value="Santa Rosa">Santa Rosa</ion-select-option>
      <ion-select-option value="Los Olivos">Los Olivos</ion-select-option>
      <ion-select-option value="Cieneguilla">Cieneguilla</ion-select-option>
      <ion-select-option value="San Borja">San Borja</ion-select-option>
      <ion-select-option value="Villa El Salvador">Villa El Salvador</ion-select-option>
      <ion-select-option value="Santa Anita">Santa Anita</ion-select-option>
      <ion-select-option value="Ricardo Palma">Ricardo Palma</ion-select-option>
      <ion-select-option value="Santa Eulalia">Santa Eulalia</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="data=='trabajador'" class="forgotblock-input">
    <ion-label position="floating">Número de celular</ion-label>
    <ion-input [(ngModel)]="celular" type="number"></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo" ></ion-input>
  </ion-item>
  <ion-item class="forgotblock-input">
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input [(ngModel)]="new_password" ></ion-input>
  </ion-item>
  <p *ngIf="llenar_datos" style="color:red" >{{llenar_mensaje}}</p>
  <p *ngIf="!llenar_datos" style="color:green" >{{llenar_mensaje}}</p>
  <ion-button class="forgotblock_send" fill="clear" (click)="sendNewPassword()">
    <ion-icon class="forgotblock_send-icon" name="checkmark-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
