.headertop{
    &-icon{
        font-size: 25px;
        padding: 5%;
    }
}
.actual{
    margin-left: 20%;
    &-message{
    text-align: right;
    padding: 5%;
    background: skyblue;
    border-radius: 15px;
    border-top: 52%;
    margin: 3%;
    }
}
.incoming{
    margin-right: 20%;  
    &-message{
    text-align: left;
    padding: 5%;
    background: rgb(35, 143, 185);
    border-radius: 15px;
    border-top: 52%;
    width: 75%;
    margin:3%;
    }
}