<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="headertop ion-align-items-start">
      <ion-col size="3"><ion-icon class="headertop-icon" (click)="return()" name="arrow-back-outline"></ion-icon></ion-col>
      <ion-col size="9"></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngFor="let mensaje of mensajes" class="mensaje">
    <div *ngIf="mensaje.from == 'user'" class="actual">
      <div class="actual-message">
        {{mensaje.texto}}
      </div>
    </div>
    <div *ngIf="mensaje.from == 'other'" class="incoming">
      <div class="incoming-message">
        {{mensaje.texto}}
      </div>
    </div>
  </div>
  <ion-textarea style="border:solid 1px black" [(ngModel)]="texto1" placeholder="Escribe el mensaje"></ion-textarea>
  <ion-button (click)="enviarMensaje()" expand="block" shape="round">
    Enviar
  </ion-button>

  <!--ion-textarea style="border:solid 1px black" [(ngModel)]="texto2" placeholder="Escribe el mensaje"></ion-textarea>
  <ion-button (click)="enviarMensaje2()" expand="block" shape="round">
    Enviar2
  </ion-button-->

</ion-content>
