<ion-backdrop *ngIf="loader" class="bd-complete" tappable="false"></ion-backdrop>
<ion-spinner *ngIf="loader" class="spinner" name="bubbles"></ion-spinner>
<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="headertop ion-align-items-start">
      <ion-col size="3"><ion-icon class="headertop-icon" (click)="return()" name="arrow-back-outline"></ion-icon></ion-col>
      <ion-col size="9"></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="solicitantecard">
      <!--img class="solicitantecard-img" [src]="usuario.foto" alt=""-->
      <ion-header class="solicitantecard-fotoperfil" [ngStyle]="{'background-image':'url('+usuario.foto+')'}"></ion-header>
      <!--ion-card-subtitle class="solicitantecard-stars">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-card-subtitle-->
      <ion-card-title class="solicitantecard-nombre">{{usuario.nombre}} {{usuario.apellidoPaterno}} {{usuario.apellidoMaterno}}</ion-card-title>
      <ion-card-subtitle class="solicitantecard-datos">{{usuario.nombreRubro}}</ion-card-subtitle>
      <ion-card-subtitle class="solicitantecard-datos">{{usuario.distrito}}</ion-card-subtitle>
      <ion-card-subtitle class="solicitantecard-datos">{{usuario.telefono}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-grid *ngIf="flag_publicaciones">
    <ion-row>
      <ion-col *ngFor="let publicacion of publicaciones" size="4">
        <div class="divclass" (click)="verImagen(publicacion.urlimagen, publicacion.descripcion)" [ngStyle]="{'background-image': 'url(' + publicacion.urlimagen + ')'}"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p *ngIf="!flag_publicaciones" class="no-data">Este usuario aún no ha realizado publicaciones</p>

  <!--ion-fab class="fabbutton" horizontal="start" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="contrato()" >
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab class="fabbutton" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="tertiary" (click)="goChat()" >
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-fab-button>
  </ion-fab-->

  <!--ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="danger" (click)="goNotifications()" >
      <ion-icon class="notification" name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab-->
</ion-content>