.registerblock{
    &-icon{
        font-size: 25px;
        padding: 5%;
    }
    &-title{
        padding: 4% 4% 4% 0;
    }
    &_profile{
        text-align: center;
        &-img{
            height: 18vh;
            border-radius: 50%; 
        }
        &-imginput{
            display: none;
        }
        &-add{
            height: 6vh;
        }
        &-input{
            width: 90%;
            margin: auto;
        }
        &_register{
            height: 16vh;
            --border-radius: 50%;
            &-icon{
                font-size: 70px;
            }
        }
    }
    &-fotoperfil{
        height: 18vh;
        height: calc(100vh/5.5);
        width: 113px;
        width: calc(100%/2.5);
        border-radius: 50%;
        border:solid 1px black;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: none;
    }
    &-fotoperfil::after{
        background-image: none;
    }
}
.bd-complete{
    z-index: 20;
}