.headertop{
    &-icon{
        font-size: 25px;
        padding: 5%;
    }
}
.img-center{
    margin-top: 17vh;
    padding: 5%;
}
.content-img{
    text-align:center ;
}
.img-description{
    margin: 5% 10%;
    font-size: 18px;
    font-weight: bold;
}