<ion-content>
  <ion-grid>
    <ion-row class="switch ion-justify-content-center ion-align-items-center">
      <ion-col size="12" class="switch_container">
        <ion-button class="switch_container-button" (click)="goSolicitante()" fill="solid">
          Solicitante
        </ion-button>
        <p class="switch_container-text">o</p>
        <ion-button class="switch_container-button" (click)="goTrabajador()" fill="solid">
          Trabajador
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
