<ion-backdrop *ngIf="loader" class="bd-complete" tappable="false"></ion-backdrop>
<ion-spinner *ngIf="loader" class="spinner" name="bubbles"></ion-spinner>
<ion-header class="ion-no-border">
  <ion-grid>
    <ion-row class="ion-align-items-start">
      <ion-col size="3"><ion-icon class="registerblock-icon" (click)="return()" name="arrow-back-outline"></ion-icon></ion-col>
      <ion-col size="9"></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="registerblock" [fullscreen]="true">
  <ion-item class="registerblock-input first-input">
    <ion-label position="floating">DNI</ion-label>
    <ion-input type="number" [(ngModel)]="change_data._dni" disabled="true"></ion-input>
  </ion-item>
  <ion-item class="registerblock-input">
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="correo" disabled="true"></ion-input>
  </ion-item>
  <ion-item class="registerblock-input">
    <ion-label position="floating">Contraseña actual</ion-label>
    <ion-input [(ngModel)]="change_data._password" type="password" ></ion-input>
  </ion-item>
  <ion-item class="registerblock-input">
    <ion-label position="floating">Nueva contraseña</ion-label>
    <ion-input [(ngModel)]="change_data._nuevaContrasenia" type="password" ></ion-input>
  </ion-item>
  <p *ngIf="llenar_datos" style="color:red" >{{llenar_mensaje}}</p>
  <p *ngIf="!llenar_datos" style="color:green" >{{llenar_mensaje}}</p>
  <ion-button class="registerblock_send" fill="clear" (click)="changePassword()">
    <ion-icon class="registerblock_send-icon" name="checkmark-circle-outline"></ion-icon>
  </ion-button>
</ion-content>
