.registerblock{
    text-align: center;
    margin-top: 15vh;
    &-icon{
        font-size: 25px;
        padding: 5%;
    }
    &-input{
        width: 90%;
        margin: auto;
        &-grid{
            --ion-grid-padding: 0;
            width: 100%;
            margin: 0;
        }
        &-alert{
            color:red;
            font-size: 15px;
        }
    }
    &_send{
        height: 16vh;
        --border-radius: 50%;
        &-icon{
            font-size: 70px;
        }
    }
}
.first-input{
    margin-top: 10vh;
}
.bd-complete{
    z-index: 20;
}